p, h1, h2, h3, h4, h5, h6 {
    color: black !important;
}

.navbar-custom {
    background: #0b2839;
}

.navbar-custom a {
    color: white !important;
}


.coder-heading {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    color: white !important;
}

.presentation-title {
    font-size: calc(6vh + 3vw) !important;
}

.presentation-title {
    font-size: calc(5vh + 5vw);
}

.presentation-subtitle {
    font-size: 2.2em;
    color: #FFFFFF !important;
    width: 90%;
    margin: auto;
}
.title-brand {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 575px){
    .presentation-subtitle {
        font-size: 2.2em;
        color: #FFFFFF !important;
        width: 50%;
        margin: auto;
    }
}

canvas {
    position: absolute !important;
    width: 200vw !important;
    left: -50% !important;
}
.credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credits i{
    margin-left: 10px;
}
.footer-nav{
    display: flex;
    align-items: center;
}
.copyright{
    font-size: 20px !important;
    color: black !important;
}
@media screen and (min-width: 990px) {
    .nav-item a {
        font-size: 17px !important;
    }
}
